<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.BoardRepository">
    <select id="getBoard" resultType="Board" parameterType="com.example.demo.util.Paging">
        /*SELECT
            *
        FROM
            board*/
        SELECT
            *
        FROM
            (SELECT
                result1.*,

                @ROWNUM:=@ROWNUM+1 AS rnum
            FROM
                (SELECT
                    *
                FROM
                    board
                ORDER BY
                    regdate desc
                )result1
            WHERE
                (SELECT @ROWNUM:=0)=0
            )B
        WHERE
            (B.rnum BETWEEN #{startRowNum} AND #{endRowNum})
    </select>
    <select id="getData" resultType="Board" parameterType="java.lang.Integer">
        SELECT
            *
        FROM
            board
        WHERE
            seq=#{seq}
    </select>
    <update id="setData" parameterType="Board">
        UPDATE
            board
        SET
            title=#{title},
            content=#{content}
        WHERE
            seq=#{seq}
    </update>
    <delete id="deleteData" parameterType="java.lang.Integer">
        DELETE FROM
            board
        WHERE
            seq=#{seq}
    </delete>
    <insert id="addData" parameterType="Board">
        INSERT INTO
            board(
                  seq,
                  title,
                  content,
                  writer,
                  regdate
            )
        VALUES(
               nextval(seq),
               #{title},
               #{content},
               #{writer},
               now()
        )
    </insert>
    <select id="getCount" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            board
    </select>
</mapper>
